html {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
   
    background-image: url("D:\\JavaScriptProjects\\site-stuff-\\images\\DORA.png");
  }
  

  aside {
    background-color: rgba(255, 0, 212, 0.5);
    flex: 1;
    margin-left: 50%;
    padding: 0.5%;
  
    
  }


  
  img.bonus{
    margin-left: 20%;
  }

  aside img{
    margin-left: 25%;
   
  }
  button{
    background-color: hsla(0, 100%, 50%, 1);
    margin-left: 5%;
    
  }
  figcaption{
    margin-left: 40%;
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px rgb(175, 27, 27);
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    
    width: 600px;
    margin: 20px auto ;
    background-color: hsl(35, 100%, 50%,0.5);
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
  }
  img {
    display: block;
    margin: 0px 0px 20px 450px ;
  }
  
  a.mail {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 10px 10px 10px;
    color: #000000;
    text-shadow: 3px 3px 1px rgb(243, 7, 184);
  }